$navbar: #131921;
$color: #ffffff;
$F3A847: #f3a847;
$span: #d6d6d6;

header {
  background: $navbar;
  color: $color;
  padding: 10px;
  nav {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    // logo
    .logo {
      img {
        width: 100px;
      }
    }
    // input
    .input-field {
      position: relative;
      margin: 0px 50px;
      width: 900px;
      select {
        padding: 11.5px 5px;
        position: absolute;
        top: 0;
        left: 0;
        border: 0;
        &:focus {
          outline: none !important;
        }
      }
      input {
        padding: 11.1px 5px;
        margin: 0;
        border: 0;
        font-size: 15px;
        outline: 0;
        width: 85%;
        margin-left: 89px;
        &:focus + .input-field {
          border: 1px solid green;
        }
      }
      img {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        background: $F3A847;
        padding: 5px 10px;
      }
    }
    // h5
    h5 {
      margin: 0px 20px;
      span {
        font-weight: 100;
        color: $span;
      }
    }
    // cart
    .cart {
      position: relative;
      img {
        width: 30px;
      }
      span {
        position: absolute;
        top: 0;
        left: 15px;
        font-weight: 700;
        color: $F3A847;
      }
      h5 {
        position: absolute;
        left: 10px;
        bottom: 0;
      }
    }
  }
}

.active-input {
  box-shadow: 0px 0px 10px 0px $F3A847;
  //   border: 5px solid rgba(243, 169, 71, 1);
}
