.checkouts {
  margin-top: 50px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      flex-basis: 70%;
    }
    .right {
      flex-basis: 20%;
      background: white;
      padding: 10px;
      input {
        float: left;
        margin-right: 10px;
      }
    }
  }
  .cart {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
    img {
      width: 150px;
      margin-right: 35px;
    }
    p {
      margin: 0;
      line-height: 1.5;
    }
    .price {
      margin: 5px 0px 10px;
    }
    button {
      margin-top: 0;
    }
  }
}
