$navbar: #131921;
$color: #ffffff;
$F3A847: #f3a847;
$span: #d6d6d6;

@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,200;0,300;0,400;1,500&display=swap");

body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-family: "Grandstander", cursive;
}

.container {
  width: 90%;
  margin: 0 auto;
}

button,
.button {
  margin-top: 30px;
  background: $F3A847;
  border: 0;
  padding: 10px 10px;
  border-radius: 2px;
  cursor: pointer;
}

a {
  color: unset;
  text-decoration: none;
}

.text-center {
  text-align: center;
}
